#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### VCS
#############################

.git
.gitignore
.gitkeep

#############################
### IDE
#############################
.editorconfig
.idea

#############################
### Docker
#############################

.dockerignore
Dockerfile
docker-compose.*.yml
docker-compose.yml

#############################
### Node.js
#############################
node_modules
npm-debug.log

#############################
### PHP
#############################
/app/vendor