#############################
### System
#############################
*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### IDE
#############################
/.idea

#############################
### Docker
#############################
/docker-compose.override.yml

#############################
### Version Bumper
#############################
.semver/node_modules
.semver/husky
npm-debug.log

#############################
### Database
#############################
.database
!/.database/.gitkeep

#############################
### PHP
#############################
app/vendor
app/var

#############################
### Tools
#############################
/app/.phpunit.result.cache
/app/.php-cs-fixer.cache

#############################
### Application
#############################
/app/log/*
!app/var/log/.gitkeep

